@page
@model LoginModel

@{
    ViewData["PageTitle"] = "Log In Your Account";
}

<div class="row">
    <div class="col-md-7">
        <div class="widget p-5">

            <form id="account" method="post">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="mb-3">
                    <ejs-textbox id="email" placeholder="Email" ejs-for="Input.Email" floatLabelType="Always"></ejs-textbox>
                    <span asp-validation-for="Input.Email" class="text-danger fs-6"></span>
                </div>

                <div class="mb-3">
                    <ejs-textbox id="password" placeholder="Password" ejs-for="Input.Password" floatLabelType="Always"></ejs-textbox>
                    <span asp-validation-for="Input.Password" class="text-danger fs-6"></span>
                </div>

                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>

                <ejs-button id="login-submit" type="submit" content="Log In" cssClass="e-success"></ejs-button>

                <div class="mt-2 flex justify-content-between pt-2">
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register</a>
                    </p>
                </div>

            </form>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
