@page
@model RegisterModel

@{
    ViewData["PageTitle"] = "Create New Account";
}

<div class="row">
    <div class="col-10 text-center">
        <h2 class="py-2 text-white">Register</h2>
    </div>
    <div class="col-md-10">
        <div class="widget p-5">

            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="mb-3">
                    <ejs-textbox id="email" placeholder="Email" ejs-for="Input.Email" floatLabelType="Always"></ejs-textbox>
                    <span asp-validation-for="Input.Email" class="text-danger fs-6"></span>
                </div>

                <div class="mb-3">
                    <ejs-textbox id="name" placeholder="Full Name" ejs-for="Input.Name" floatLabelType="Always"></ejs-textbox>
                    <span asp-validation-for="Input.Name" class="text-danger fs-6"></span>
                </div>

                <div class="mb-3">
                    <ejs-textbox id="phonenumber" placeholder="Phone Number" ejs-for="Input.PhoneNumber" floatLabelType="Always"></ejs-textbox>
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger fs-6"></span>
                </div>

                <div class="mb-3">
                    <ejs-textbox id="password" placeholder="Password" ejs-for="Input.Password" floatLabelType="Always"></ejs-textbox>
                    <span asp-validation-for="Input.Password" class="text-danger fs-6"></span>
                </div>

                <div class="mb-3">
                    <ejs-textbox id="confirmpassword" placeholder="Confirm Password" ejs-for="Input.ConfirmPassword" floatLabelType="Always"></ejs-textbox>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger fs-6"></span>
                </div>

                <div class="mb-3">
                    <ejs-textbox id="streetaddress" placeholder="Street Address" ejs-for="Input.StreetAddress" floatLabelType="Always"></ejs-textbox>
                    <span asp-validation-for="Input.StreetAddress" class="text-danger fs-6"></span>
                </div>

                <div class="mb-3">
                    <ejs-textbox id="state" placeholder="State" ejs-for="Input.State" floatLabelType="Always"></ejs-textbox>
                    <span asp-validation-for="Input.State" class="text-danger fs-6"></span>
                </div>

                <div class="mb-3">
                    <ejs-textbox id="postleocode" placeholder="Postle Code" ejs-for="Input.PostalCode" floatLabelType="Always"></ejs-textbox>
                    <span asp-validation-for="Input.PostalCode" class="text-danger fs-6"></span>
                </div>

                <div class ="mb-3">
                    <select asp-for="Input.Role" asp-items="@Model.Input.RoleList" class="form-select">
                        <option disabled selected>-Select Role-</option>
                    </select>
                </div>

                <ejs-button id="registerSubmit" type="submit" content="Register" cssClass="e-success"></ejs-button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}